html,
body,
.header
{
  height: 100%;
  background-color: #16305a;
}

@media (max-width: 740px) {
  html,
  body,
  .header
{
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .header{
    height: 600px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #424f95 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}

h4 strong{
  color: #0e203e;
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

#t{
  background: linear-gradient(to 45deg, rgba(50, 50, 255, 0.90), rgba(50, 50, 255, 0.50) 100%); /* W3C */
}

.img-gradient{
  position:relative;
  display:inline-block;
}


/* 
#002f4b,#dc4225 
Convert HEX to RGBA - http://hex2rgba.devoth.com/
*/
.img-gradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:50%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(50, 50, 255, 0.90) 0%, rgba(50, 50, 255, 0.10) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50, 50, 255, 0.10)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(50, 50, 255, 0.90) 0%,rgba(50, 50, 255, 0.10) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(50, 50, 255, 0.90) 0%,rgba(50, 50, 255, 0.10) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(50, 50, 255, 0.90) 0%,rgba(50, 50, 255, 0.10) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(50, 50, 255, 0.90) 0%,rgba(50, 50, 255, 0.10) 100%); /* W3C */
}
.img-gradient img{
  display:block;
}



/*FOOTER*/

footer {
  background: #aeaeb4;
  background: -webkit-linear-gradient(59deg, #aeaeb4, #5f767b);
  background: linear-gradient(59deg, #aeaeb4, #5f767b);
  color: white;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoInstagram:hover {
  background-color: #a9429e;
}

.social-network a.icoEnvelope:hover {
  background-color: #d54b3d;
}

.social-network a.icoGlobe:hover {
  background-color: #ffb602;
}
.social-network a.icoWhatsapp:hover {
  background-color: #49f764;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i, 
.social-network a.icoEnvelope:hover i, 
.social-network a.icoGlobe:hover i,
.social-network a.icoWhatsapp:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
